//custom-theme colors
$primary-color:#5E56E7;
$background-color:#F8F7FF;

//white
$white : #ffffff;

//black
$black : #000000;

// grey
$light-grey :#F0F0F6;
$grey-regular:#A0A0A0;
$dark-grey :#333333;
